.u-section-1 .u-sheet-1 {
  min-height: 1316px;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 43px auto 0 0;
}

.u-section-1 .u-group-1 {
  --radius: 20px;
  height: auto;
  transition-duration: 3.5s;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  min-height: 461px;
  margin-top: 36px;
  margin-bottom: 0;
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-text-2 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 45px auto 0 36px;
}

.u-section-1 .u-image-1 {
  width: 227px;
  height: 289px;
  margin: 31px auto 0 62px;
}

.u-section-1 .u-btn-1 {
  font-size: 0.9375rem;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  margin: -215px 31px 0 auto;
}

.u-section-1 .u-text-3 {
  margin: -34px 275px 0 305px;
}

.u-section-1 .u-btn-2 {
  font-size: 0.9375rem;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  margin: -65px 31px 0 auto;
  padding: 10px 38px 10px 36px;
}

.u-section-1 .u-group-2 {
  --radius: 20px;
  height: auto;
  transition-duration: 3.5s;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  min-height: 461px;
  margin-top: -461px;
  margin-bottom: 0;
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-text-4 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 45px auto 0 36px;
}

.u-section-1 .u-image-2 {
  width: 227px;
  height: 289px;
  margin: 31px auto 0 62px;
}

.u-section-1 .u-btn-3 {
  font-size: 0.9375rem;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  margin: -215px 31px 0 auto;
}

.u-section-1 .u-text-5 {
  margin: -34px 275px 0 305px;
}

.u-section-1 .u-btn-4 {
  font-size: 0.9375rem;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  margin: -65px 31px 0 auto;
  padding: 10px 38px 10px 36px;
}

.u-section-1 .u-group-3 {
  --radius: 20px;
  height: auto;
  transition-duration: 3.5s;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  min-height: 461px;
  margin-top: 75px;
  margin-bottom: 60px;
  background-image: none;
}

.u-section-1 .u-container-layout-3 {
  padding: 0;
}

.u-section-1 .u-text-6 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 45px auto 0 36px;
}

.u-section-1 .u-image-3 {
  width: 227px;
  height: 289px;
  margin: 31px auto 0 62px;
}

.u-section-1 .u-btn-5 {
  font-size: 0.9375rem;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  margin: -215px 31px 0 auto;
}

.u-section-1 .u-text-7 {
  margin: -34px 275px 0 305px;
}

.u-section-1 .u-btn-6 {
  font-size: 0.9375rem;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  margin: -65px 31px 17px auto;
  padding: 10px 38px 10px 36px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 175px;
    margin-left: 205px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 0;
  }

  .u-section-1 .u-group-2 {
    height: auto;
  }

  .u-section-1 .u-btn-3 {
    margin-right: 0;
  }

  .u-section-1 .u-text-5 {
    margin-right: 175px;
    margin-left: 205px;
  }

  .u-section-1 .u-btn-4 {
    margin-right: 0;
  }

  .u-section-1 .u-group-3 {
    height: auto;
  }

  .u-section-1 .u-btn-5 {
    --radius: 6px;
    margin-right: 0;
  }

  .u-section-1 .u-text-7 {
    width: 558px;
    margin-left: 205px;
    margin-right: 175px;
  }

  .u-section-1 .u-btn-6 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-3 {
    margin-right: 65px;
    margin-left: 95px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 65px;
    margin-left: 95px;
  }

  .u-section-1 .u-text-7 {
    margin-left: 95px;
    margin-right: 65px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-5 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-7 {
    width: 540px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-text-4 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-text-6 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-text-7 {
    width: 340px;
  }
}

.u-block-46cc-4:not([data-block-selected]):not([data-cell-selected]),
.u-block-46cc-4:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-46cc-4:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-block-46cc-4:not([data-block-selected]):not([data-cell-selected]).u-block-46cc-4:not([data-block-selected]):not([data-cell-selected]).u-block-46cc-4:not([data-block-selected]):not([data-cell-selected]):hover {
  border-style: solid !important;
  border-top-width: 1px !important;
  border-left-width: 1px !important;
  border-right-width: 1px !important;
  border-bottom-width: 1px !important;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4) !important;
  border-radius: 19px !important;
}

.u-block-46cc-4:not([data-block-selected]):not([data-cell-selected]) {
  border-style: solid !important;
}

.u-block-46cc-4:not([data-block-selected]):not([data-cell-selected]).u-block-46cc-4:not([data-block-selected]):not([data-cell-selected]).u-block-46cc-4:not([data-block-selected]):not([data-cell-selected]).hover {
  border-style: solid !important;
  border-top-width: 1px !important;
  border-left-width: 1px !important;
  border-right-width: 1px !important;
  border-bottom-width: 1px !important;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4) !important;
  border-radius: 19px !important;
}

.u-block-46cc-4:not([data-block-selected]):not([data-cell-selected]) {
  border-style: solid !important;
}

.u-container-layout:hover .u-block-46cc-4:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-block-46cc-4:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-group-3,
.u-section-1 .u-group-3:before,
.u-section-1 .u-group-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-group-3.u-group-3.u-group-3:hover {
  border-style: solid !important;
  border-top-width: 1px !important;
  border-left-width: 1px !important;
  border-right-width: 1px !important;
  border-bottom-width: 1px !important;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4) !important;
  border-radius: 19px !important;
}

.u-section-1 .u-group-3 {
  border-style: solid !important;
}

.u-section-1 .u-group-3.u-group-3.u-group-3.hover {
  border-style: solid !important;
  border-top-width: 1px !important;
  border-left-width: 1px !important;
  border-right-width: 1px !important;
  border-bottom-width: 1px !important;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4) !important;
  border-radius: 19px !important;
}

.u-section-1 .u-group-3 {
  border-style: solid !important;
}

.u-section-1 .u-container-layout:hover .u-group-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-group-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-group-2,
.u-section-1 .u-group-2:before,
.u-section-1 .u-group-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-group-2.u-group-2.u-group-2:hover {
  border-style: solid !important;
  border-top-width: 1px !important;
  border-left-width: 1px !important;
  border-right-width: 1px !important;
  border-bottom-width: 1px !important;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4) !important;
  border-radius: 19px !important;
}

.u-section-1 .u-group-2 {
  border-style: solid !important;
}

.u-section-1 .u-group-2.u-group-2.u-group-2.hover {
  border-style: solid !important;
  border-top-width: 1px !important;
  border-left-width: 1px !important;
  border-right-width: 1px !important;
  border-bottom-width: 1px !important;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4) !important;
  border-radius: 19px !important;
}

.u-section-1 .u-group-2 {
  border-style: solid !important;
}

.u-section-1 .u-container-layout:hover .u-group-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-group-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-group-1,
.u-section-1 .u-group-1:before,
.u-section-1 .u-group-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-group-1.u-group-1.u-group-1:hover {
  border-style: solid !important;
  border-top-width: 1px !important;
  border-left-width: 1px !important;
  border-right-width: 1px !important;
  border-bottom-width: 1px !important;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4) !important;
  border-radius: 19px !important;
}

.u-section-1 .u-group-1 {
  border-style: solid !important;
}

.u-section-1 .u-group-1.u-group-1.u-group-1.hover {
  border-style: solid !important;
  border-top-width: 1px !important;
  border-left-width: 1px !important;
  border-right-width: 1px !important;
  border-bottom-width: 1px !important;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4) !important;
  border-radius: 19px !important;
}

.u-section-1 .u-group-1 {
  border-style: solid !important;
}

.u-section-1 .u-container-layout:hover .u-group-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-group-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}.u-section-2 .u-sheet-1 {
  min-height: 1868px;
}

.u-section-2 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-2 .u-group-1 {
  margin-top: 71px;
  margin-bottom: 0;
  --radius: 20px;
  height: auto;
  transition-duration: 3.5s;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  min-height: 461px;
  transform: scale(1);
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-2 .u-text-2 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 45px auto 0 36px;
}

.u-section-2 .u-image-1 {
  width: 227px;
  height: 289px;
  margin: 31px auto 0 63px;
}

.u-section-2 .u-btn-1 {
  font-size: 0.9375rem;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  margin: -215px 31px 0 auto;
}

.u-section-2 .u-text-3 {
  margin: -34px 275px 0 305px;
}

.u-section-2 .u-btn-2 {
  font-size: 0.9375rem;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  margin: -65px 31px 0 auto;
  padding: 10px 38px 10px 36px;
}

.u-section-2 .u-group-2 {
  --radius: 20px;
  height: auto;
  transition-duration: 3.5s;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  min-height: 461px;
  margin-top: 71px;
  margin-bottom: 0;
  transform: scale(1);
  background-image: none;
}

.u-section-2 .u-container-layout-2 {
  padding: 0;
}

.u-section-2 .u-text-4 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 45px auto 0 36px;
}

.u-section-2 .u-image-2 {
  width: 227px;
  height: 289px;
  margin: 31px auto 0 63px;
}

.u-section-2 .u-btn-3 {
  font-size: 0.9375rem;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  margin: -215px 31px 0 auto;
}

.u-section-2 .u-text-5 {
  margin: -34px 275px 0 305px;
}

.u-section-2 .u-btn-4 {
  font-size: 0.9375rem;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  margin: -65px 31px 17px auto;
  padding: 10px 38px 10px 36px;
}

.u-section-2 .u-group-3 {
  --radius: 20px;
  height: auto;
  transition-duration: 3.5s;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  min-height: 461px;
  margin-top: 71px;
  margin-bottom: 60px;
  transform: scale(1);
  background-image: none;
}

.u-section-2 .u-container-layout-3 {
  padding: 0;
}

.u-section-2 .u-text-6 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 44px auto 0 36px;
}

.u-section-2 .u-image-3 {
  width: 227px;
  height: 289px;
  margin: 31px auto 0 63px;
}

.u-section-2 .u-text-7 {
  margin: -249px 270px 0 310px;
}

.u-section-2 .u-btn-5 {
  font-size: 0.9375rem;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  margin: -139px 31px 0 auto;
}

.u-section-2 .u-btn-6 {
  font-size: 0.9375rem;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  margin: 16px 31px 0 auto;
  padding: 10px 38px 10px 36px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-group-1 {
    height: auto;
  }

  .u-section-2 .u-btn-1 {
    --radius: 6px;
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    width: 558px;
    margin-left: 205px;
    margin-right: 175px;
  }

  .u-section-2 .u-btn-2 {
    margin-right: 0;
  }

  .u-section-2 .u-group-2 {
    height: auto;
  }

  .u-section-2 .u-btn-3 {
    --radius: 6px;
    margin-right: 0;
  }

  .u-section-2 .u-text-5 {
    width: 558px;
    margin-left: 205px;
    margin-right: 175px;
  }

  .u-section-2 .u-btn-4 {
    margin-right: 0;
  }

  .u-section-2 .u-group-3 {
    height: auto;
  }

  .u-section-2 .u-text-7 {
    width: 558px;
    margin-left: 210px;
    margin-right: 170px;
  }

  .u-section-2 .u-btn-5 {
    --radius: 6px;
    margin-right: 0;
  }

  .u-section-2 .u-btn-6 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-3 {
    margin-left: 95px;
    margin-right: 65px;
  }

  .u-section-2 .u-text-5 {
    margin-left: 95px;
    margin-right: 65px;
  }

  .u-section-2 .u-text-7 {
    margin-left: 100px;
    margin-right: 60px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-2 .u-text-3 {
    width: 540px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-5 {
    width: 540px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-7 {
    width: 540px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-text-3 {
    width: 340px;
  }

  .u-section-2 .u-text-4 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-text-5 {
    width: 340px;
  }

  .u-section-2 .u-text-6 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-text-7 {
    width: 340px;
  }
}

.u-section-2 .u-group-1,
.u-section-2 .u-group-1:before,
.u-section-2 .u-group-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-group-1.u-group-1.u-group-1:hover {
  border-style: solid !important;
  border-top-width: 1px !important;
  border-left-width: 1px !important;
  border-right-width: 1px !important;
  border-bottom-width: 1px !important;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4) !important;
  border-radius: 19px !important;
}

.u-section-2 .u-group-1 {
  border-style: solid !important;
}

.u-section-2 .u-group-1.u-group-1.u-group-1.hover {
  border-style: solid !important;
  border-top-width: 1px !important;
  border-left-width: 1px !important;
  border-right-width: 1px !important;
  border-bottom-width: 1px !important;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4) !important;
  border-radius: 19px !important;
}

.u-section-2 .u-group-1 {
  border-style: solid !important;
}

.u-section-2 .u-container-layout:hover .u-group-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-2 .u-group-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-group-2,
.u-section-2 .u-group-2:before,
.u-section-2 .u-group-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-group-2.u-group-2.u-group-2:hover {
  border-style: solid !important;
  border-top-width: 1px !important;
  border-left-width: 1px !important;
  border-right-width: 1px !important;
  border-bottom-width: 1px !important;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4) !important;
  border-radius: 19px !important;
}

.u-section-2 .u-group-2 {
  border-style: solid !important;
}

.u-section-2 .u-group-2.u-group-2.u-group-2.hover {
  border-style: solid !important;
  border-top-width: 1px !important;
  border-left-width: 1px !important;
  border-right-width: 1px !important;
  border-bottom-width: 1px !important;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4) !important;
  border-radius: 19px !important;
}

.u-section-2 .u-group-2 {
  border-style: solid !important;
}

.u-section-2 .u-container-layout:hover .u-group-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-2 .u-group-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-group-3,
.u-section-2 .u-group-3:before,
.u-section-2 .u-group-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-group-3.u-group-3.u-group-3:hover {
  border-style: solid !important;
  border-top-width: 1px !important;
  border-left-width: 1px !important;
  border-right-width: 1px !important;
  border-bottom-width: 1px !important;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4) !important;
  border-radius: 19px !important;
}

.u-section-2 .u-group-3 {
  border-style: solid !important;
}

.u-section-2 .u-group-3.u-group-3.u-group-3.hover {
  border-style: solid !important;
  border-top-width: 1px !important;
  border-left-width: 1px !important;
  border-right-width: 1px !important;
  border-bottom-width: 1px !important;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4) !important;
  border-radius: 19px !important;
}

.u-section-2 .u-group-3 {
  border-style: solid !important;
}

.u-section-2 .u-container-layout:hover .u-group-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-2 .u-group-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}